<% options = local_assigns.fetch(:options, {}) %>

<%= content_tag :div,
                id: essence_active_storage_picture_editor.dom_id,
                class: essence_active_storage_picture_editor.css_classes,
                data: essence_active_storage_picture_editor.data_attributes do %>
  <%= content_label(essence_active_storage_picture_editor) %>
  <div class="picture_thumbnail">
    <span class="picture_tool delete">
      <%= link_to render_icon(:times), '#',
                  onclick: "return Alchemy.removePicture('##{essence_active_storage_picture_editor.form_field_id(:active_storage_file_id)}');" %>
    </span>
    <div class="picture_image">
      <div class="thumbnail_background">
        <%- if essence_active_storage_picture_editor.ingredient -%>
          <%= essence_picture_thumbnail(essence_active_storage_picture_editor) %>
        <% else %>
          <%= render_icon(:image, style: 'regular') %>
        <% end %>
      </div>
    </div>
    <%- if essence_active_storage_picture_editor.essence.css_class.present? -%>
      <div class="essence_picture_css_class">
        <%#= Alchemy.t("alchemy.essence_pictures.css_classes.#{essence_active_storage_picture_editor.essence.css_class}", default: essence_active_storage_picture_editor.essence.css_class.camelcase) %>
      </div>
    <%- end -%>
    <div class="edit_images_bottom">
      <%= render 'alchemy/essences/shared/essence_active_storage_picture_tools',
                 { content: essence_active_storage_picture_editor.content } %>
    </div>
  </div>
  <%= hidden_field_tag essence_active_storage_picture_editor.form_field_name(:active_storage_file_id),
                       essence_active_storage_picture_editor.ingredient.try!(:id) %>
  <%= hidden_field_tag essence_active_storage_picture_editor.form_field_name(:link),
                       essence_active_storage_picture_editor.essence.link %>
  <%= hidden_field_tag essence_active_storage_picture_editor.form_field_name(:link_title),
                       essence_active_storage_picture_editor.essence.link_title %>
  <%= hidden_field_tag essence_active_storage_picture_editor.form_field_name(:link_class_name),
                       essence_active_storage_picture_editor.essence.link_class_name %>
  <%= hidden_field_tag essence_active_storage_picture_editor.form_field_name(:link_target),
                       essence_active_storage_picture_editor.essence.link_target %>
<% end %>
